<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="app.css">
  <script src=index.js></script>
</head>
<body>
<h1>WORKOUT TRACKER</h1>
<div class=workout>
  <button id="push">PUSH WORKOUT</button>
  <div id=push_details class=hidden>
    <form action="/upload/" method="post">
      <span id="chest_press">Chest Press:</span><br>
      <input type="text" name="chest_press_1"><br>
      <input type="text" name="chest_press_2"><br>
      <input type="text" name="chest_press_3"><br>
      <input type="hidden" name="chest_press_weight"><br>

      <span id="incline_fly">Incline Fly:</span><br>
      <input type="text" name="incline_fly_1"><br>
      <input type="text" name="incline_fly_2"><br>
      <input type="text" name="incline_fly_3"><br>
      <input type="hidden" name="incline_fly_weight"><br>

      <span id="arnold_press">Arnold Press:</span><br>
      <input type="text" name="arnold_press_1"><br>
      <input type="text" name="arnold_press_2"><br>
      <input type="text" name="arnold_press_3"><br>
      <input type="hidden" name="arnold_press_weight"><br>

      <span id="overhead_tricep_extension">Overhead Tricep Extension:</span><br>
      <input type="text" name="overhead_tricep_extension_1"><br>
      <input type="text" name="overhead_tricep_extension_2"><br>
      <input type="text" name="overhead_tricep_extension_3"><br>
      <input type="hidden" name="overhead_tricep_extension_weight"><br>

      <input type="hidden" name = "workout_type" value="push">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div class=workout>
  <button id=pull>PULL WORKOUT</button>
  <div id=pull_details class=hidden>
    <form action="/upload/" method="post">
      <span id="pull_up">Pull Up:</span><br>
      <input type="text" name="pull_up_1"><br>
      <input type="text" name="pull_up_2"><br>
      <input type="text" name="pull_up_3"><br>
      <input type="hidden" name="pull_up_weight"><br>

      <span id="bent_over_row">Bent Over Row:</span><br>
      <input type="text" name="bent_over_row_1"><br>
      <input type="text" name="bent_over_row_2"><br>
      <input type="text" name="bent_over_row_3"><br>
      <input type="hidden" name="bent_over_row_weight"><br>

      <span id="reverse_fly">Reverse Fly:</span><br>
      <input type="text" name="reverse_fly_1"><br>
      <input type="text" name="reverse_fly_2"><br>
      <input type="text" name="reverse_fly_3"><br>
      <input type="hidden" name="reverse_fly_weight"><br>

      <span id="shrug">Shrug:</span><br>
      <input type="text" name="shrug_1"><br>
      <input type="text" name="shrug_2"><br>
      <input type="text" name="shrug_3"><br>
      <input type="hidden" name="shrug_weight"><br>

      <span id="bicep_curl">Bicep Curl:</span><br>
      <input type="text" name="bicep_curl_1"><br>
      <input type="text" name="bicep_curl_2"><br>
      <input type="text" name="bicep_curl_3"><br>
      <input type="hidden" name="bicep_curl_weight"><br>

      <input type="hidden" name = "workout_type" value="pull">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div class=workout>
  <button id=legs>LEGS WORKOUT</button>
  <div id=legs_details class=hidden>
    <form>
      <span id="goblet_squat">Goblet Squat:</span><br>
      <input type="text" name="goblet_squat_1"><br>
      <input type="text" name="goblet_squat_2"><br>
      <input type="text" name="goblet_squat_3"><br>
      <input type="hidden" name="goblet_squat_weight"><br>

      <span id="lunge">Lunge:</span><br>
      <input type="text" name="lunge_1"><br>
      <input type="text" name="lunge_2"><br>
      <input type="text" name="lunge_3"><br>
      <input type="hidden" name="lunge_weight"><br>

      <span id="single_leg_deadlift">Single Leg Deadlift:</span><br>
      <input type="text" name="single_leg_deadlift_1"><br>
      <input type="text" name="single_leg_deadlift_2"><br>
      <input type="text" name="single_leg_deadlift_3"><br>
      <input type="hidden" name="single_leg_deadlift_weight"><br>

      <span id="calf_raise">Calf Raise:</span><br>
      <input type="text" name="calf_raise_1"><br>
      <input type="text" name="calf_raise_2"><br>
      <input type="text" name="calf_raise_3"><br>
      <input type="hidden" name="calf_raise_weight"><br>

      <input type="hidden" name = "workout_type" value="legs">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>


</body>
